@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	@apply relative m-0 min-h-screen bg-gray-500;
}

body::before {
	inset: 0;
	content: '';
	position: absolute;
	background-image: url('/background.png');
	@apply -z-10 bg-cover bg-fixed bg-center bg-no-repeat opacity-85;
}

@theme {
	--color-brand-darkblue: oklch(0.3936 0.0901 239.99);
	--color-brand-darkerblue: oklch(0.2583 0.0561 236.7);
	--color-brand-gray: oklch(0.6434 0 0);
	--color-brand-lightgray: oklch(0.2583 0.0561 236.7 / 40%);
	--color-brand-red: oklch(0.6117 0.2216 29.64);
	--color-brand-blue: oklch(0.6145 0.174877 250.2013);
	--shadow-red: 0 0 10px 10px rgba(235, 50, 35, 0.03);
	--shadow-blue: 0 0 10px 10px rgba(0, 149, 255, 0.07);
	--shadow-gray: 0 0 10px 10px rgba(0, 0, 0, 0.08);
	--color-oba-green: oklch(0.632 0.1728 138.8);
}
